- if @my_posts
  %h2 My Posts
  - if @my_posts.empty?
    no post
  - else
    %ul
      = render partial: "posts/post", collection: @my_posts

  %p= link_to "New Post", new_post_path

%h2 Public Posts
- if @public_posts.empty?
  no post
- else
  %ul
    - @public_posts.each do |post|
      %li{ :class => post.published ? "public" : "private" }
        .title= post.title
        .user= post.user.email
