<header class="page-header"><h2>Your authorized applications</h2></header>

<div class="row">
  <table class="table table-bordered table-striped span12">
    <thead>
      <tr>
        <th>Application</th>
        <th>Authorized at</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @applications.each do |application| %>
        <tr>
          <td style="vertical-align: middle;"><%= application.name %></td>
          <td style="vertical-align: middle;"><%= application.created_at %></td>
          <td style="vertical-align: middle;"><%= link_to 'Revoke', authorized_application_path(application), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
