#define WebApiUrl    @"http://localhost:3000/api/v1/"

#define AuthBaseURL  @"http://localhost:3000/"
#define ClientID     @"---client id---"
#define ClientSecret @"---client secret---"
#define RedirectURL  @"bestmix://auth"
