/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
*/

body {
  padding-top: 60px;
}

.inline_block {
  display: inline-block;
}

table td {
  vertical-align: middle;
}

.post {
  margin-bottom: 10px;
  .content {
    margin: 5px 0;
  }
  .published {
    color: #888888;
    span {
      margin-right: 10px;
    }
  }
}

.my-post {
  .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .published {
    color: #aaa;
    margin: 5px 0;
  }

  .tasks {
    a {
      margin-right: 5px;
      // color: transparent;
    }
  }
}

// .my-post tr:hover {
//   .tasks a {
//     color: #0088cc;
//   }
// }

.error input {
  color: #B94A48;
  border-color: #EE5F5B;
}

.error .help-inline {
  color: #B94A48;
}

.page-header {
  margin: 0 0 10px 0 !important;
  padding-bottom: 5px !important;
}

h2 + table,
h3 + table,
h4 + table,
h2 + .row {
  margin-top: 5px;
}
